@charset "UTF-8";

body {
    background-image: url("https://images.pexels.com/photos/875858/pexels-photo-875858.png?cs=srgb&dl=animal-dawn-desktop-backgrounds-875858.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: 1900px 900px;
}
#mainDiv{
    margin: auto;
}
#flightBox {
     position: relative;
     border-radius: 15px;
     background: linear-gradient(white, silver);
     padding: 10px;
     width: 300px;
     height: 600px;
     margin: auto;
     border: 6px solid transparent;
     box-shadow: 0 3px 9px black, inset 0 0 9px white;
     background-clip: padding-box;
     font-size: 20px;
     font-variant: small-caps;
}
#flightBox::after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: linear-gradient(turquoise, pink);
    content: '';
    z-index: -1;
    border-radius: 15px;
}