@charset "UTF-8";
body {
    background-image: url("https://www.goodfreephotos.com/albums/other-landscapes/ocean-with-rock-formation-under-the-sky.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 900px;
}
#søkBox {
    position: relative;
    border-radius: 15px;
    background: linear-gradient(white, silver);
    padding: 10px;
    width: 550px;
    height: 45px;
    margin: auto;
    border: 6px solid transparent;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    background-clip: padding-box;
    font-size: 14px;
    font-variant: small-caps;
}
#søkBox::after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: linear-gradient(pink, lightskyblue);
    content: '';
    z-index: -1;
    border-radius: 15px;
}
#skriftStørrelse{
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
    position: relative;
    font-variant: small-caps;
}
#lavprisBox{
    position: relative;
    border-radius: 15px;
    background: linear-gradient(white, silver);
    padding: 10px;
    width: 300px;
    height: 140px;
    margin: auto;
    border: 6px solid transparent;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    background-clip: padding-box;
    font-size: 20px;
    font-variant: small-caps;
}
#lavprisBox::after{
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: linear-gradient(lightskyblue, pink);
    content: '';
    z-index: -1;
    border-radius: 15px;
}