@charset "ISO-8859-1";
#mainDiv{
    text-align: center;
}
#content{
    width: 1200px;
    margin: 0 auto;
    background: #e6f2ff;
    color: #000;
    padding: 100px;
}
#sortHolder{
    width: 1000px;
    margin: 0 auto;
    color: #000;
    padding: 50px;
    position: relative;
}
#flightHolderdiv{
    width: 1000px;
    height:600px;
    margin: 0 auto;
    background-color: rgba(230, 242, 255);
    color: #000;
    padding-top:20px;
    text-align: center;
    overflow: auto;
}
select{
    width: 200px !important;
    min-width: 200px;
    max-width: 200px;
    margin: 0 auto;
}
.flight {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%-40px;
    height: 160px;
    position: relative;
    padding: 20px;
    overflow: auto;
    border: 1px solid;
    font: normal 16px/1 "Times New Roman", Times, serif;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(255,255,255,1);
}

.viewButton {
    color:pink;
}