@charset "UTF-8";
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/36/Summer_night_at_Lyngspollen%2C_Lyngen_fjord%2C_Troms%2C_Norway%2C_2012_June.jpg");
    background-repeat: no-repeat;
    background-size: 1450px 900px;
}

#mainDiv {
    text-align: center;
}
#loginBox {
    position: relative;
    border-radius: 15px;
    background: linear-gradient(white, silver);
    padding: 10px;
    width: 200px;
    height: 170px;
    margin: auto;
    border: 6px solid transparent;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    background-clip: padding-box;
    font-size: 20px;
    font-variant: small-caps;
}
#loginBox::after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: linear-gradient(lightskyblue, white);
    content: '';
    z-index: -1;
    border-radius: 15px;
}
#registrerBox {
    position: relative;
    border-radius: 15px;
    background: linear-gradient(white, silver);
    padding: 10px;
    width: 200px;
    height: 55px;
    margin: auto;
    border: 6px solid transparent;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    background-clip: padding-box;
    font-size: 20px;
    font-variant: small-caps;
}
#registrerBox::after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: linear-gradient(white, palegreen);
    content: '';
    z-index: -1;
    border-radius: 15px;
}